*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0 auto; */
  padding: 0;
  max-width: 1440px;
}

/* body {

} */

.link {
  color: white;
  text-decoration: none;
}

canvas {
  width: 100%;
}
